*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:tahoma;
}

body{
background:#000;
color:#fff;
}

header{
text-align:center;
padding-bottom:30px;
}

.slider{
width:100%;
height:300px;
overflow:hidden;
position:relative;
}

.slide{
width:100%;
height:300px;
object-fit:cover;
display:none;
}

.active{
display:block;
}

h1{
margin-top:20px;
color:#FFD700;
font-size:42px;
}

.social{
margin-top:20px;
}

.social a{
color:#FFD700;
font-size:30px;
margin:10px;
}

.about{
padding:25px;
text-align:center;
}

.about h2{
color:#FFD700;
margin-bottom:15px;
}

.searchBox{
text-align:center;
margin:20px;
}

#search{
width:90%;
max-width:500px;
padding:12px;
border:none;
border-radius:10px;
}

#songs{
width:90%;
margin:auto;
display:grid;
gap:20px;
}

.song{
background:#111;
border:1px solid #FFD700;
padding:20px;
border-radius:15px;
}

.song h3{
color:#FFD700;
margin-bottom:10px;
}

.song audio{
width:100%;
margin:15px 0;
}

.song button{
width:100%;
padding:12px;
background:#FFD700;
border:none;
font-weight:bold;
cursor:pointer;
border-radius:10px;
}

.song p{
margin-top:10px;
}